{% extends 'base.html.twig' %}
{% block title %} blog{% endblock %}
{% block body %}
    <h1>{{ post.title }}</h1>

        <p>{{ post.body }}</p>

    <p class="btn-text"><a href="{{ path('blog_post_edit', {'slug': post.slug} ) }}">Edit</a></p>

    <a href="{{ path('blog_post_delete', {'slug': post.slug}) }}">Delete</a>

<br>
<br>
<br>
    <small class="d-block text-left mt-7">
        <a href="{{ path('blog_posts') }}">На главную</a>
    </small>

{% endblock %}
